.twitch {
  background-color: rgb(177, 43, 230);
}

.twitch .header {
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-size: 2rem;
}

.item {
  background-color: rgb(177, 43, 230);
}

.twitch .profileImage{
  width: 100px;
}